/*  =============
    css reset
    =============*/

    /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* FORMATAÇÃO */

/* Estilos gerais do corpo */


body {
    font-family: "Raleway", sans-serif;
    color: #333; /* Cor do texto */
    line-height: 1.6;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
}

/* Estilos da seção principal */
section {
    border-radius: 8px;
    /* background: #bef0b7;   */
}


.banner {
    width: 100%;
    height: auto; /* Ajusta a altura automaticamente de acordo com a imagem */
    text-align: center;
}



.banner h1 {
    color: #19490a;
    font-family: "Raleway", sans-serif;
    font-size: 4.5rem;
}
.banner p{
    font-size: x-large;
}

/* Estilos dos parágrafos */
section p {
    margin-bottom: 20px;
    display: flex;
    margin: 3vw;
}

/* Estilos das listas */
section ul {
    list-style-type: disc;
    margin-left: 20px;
    display: flex;
}

section li {
    margin-bottom: 15px; 
}

section strong {
    color: #004d00; /* Verde mais escuro para destacar */
    font-family: "Raleway", sans-serif;
    font-weight: bolder;
}

.beneficio {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin: 10px;
    cursor: pointer; /* interatividade */
    transition: background-color 0.3s;
}

.beneficio:hover {
    background-color: #e0f7e0; /* Cor quando o mouse */
}

.beneficio-texto {
    display: none; /* Esconde o texto dos benefícios */
}

.beneficio.active .beneficio-texto {
    display: block; /* Mostra o texto se a classe active estiver presente */
}

.beneficio-container {
    display: flex;
    flex-wrap: wrap; /* Permite que os itens se movam para a próxima linha */
    justify-content: center; /* Centraliza os itens horizontalmente */
    max-width: 1200px; /* Define uma largura máxima para evitar que os itens fiquem muito espalhados */
    margin: 0 auto; /* Centraliza o container em relação à página */
}

.fortalecimento {
    display: flex;
    justify-content: center; /* Centraliza os itens horizontalmente */
    flex-wrap: wrap; /* Permite que os itens se movam para a próxima linha */
    max-width: 1200px; /* Define uma largura máxima para evitar que os itens fiquem muito espalhados */
    margin: 0 auto; /* Centraliza o container em relação à página */
}
.footer {
    padding: 40px 0;
    background-color: #3b773b;
    color: white;
}

.footer ul {
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
}

.footer li {
    display: inline-block; /* Change to inline-block for horizontal layout */
    padding: 0 10px;
}

.footer ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer ul a:hover {
    opacity: 1;
}

.footer .social {
    text-align: center;
    padding-bottom: 25px;
}

.footer .social > a {
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin: 0 8px;
    color: inherit;
    opacity: 0.75;
}

.footer .social > a:hover {
    opacity: 0.9;
}

.footer .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #aaa;
    margin-bottom: 0;
}
.footer .footer-break{
  height:2px;
  border-width:0;
  color:white;
  background-color:white
    }
img{
    width: 5vw;
  
}
strong{
    font-size: larger;
}
