/*  =============
    css reset
    =============*/

    /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* FORMATAÇÃO */

/* Estilos gerais do corpo */

html{
    background-color: #bef0b7;
}

body {
    font-family: Arial, sans-serif;
    background-color: #bef0b7; /* Cor de fundo clara */
    color: #333; /* Cor do texto */
    line-height: 1.6;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Estilos do header e navbar */
header {
    background-color: #3b773b; /* Verde escuro */
    color: white;
    padding: 10px 20px;
    
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Estilos da logo */
.logo a {
    color: #fffdfd; 
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
}

/* Estilos do botão de menu */
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 30px;
    height: 3px;
    background-color: #bef0b7;
    margin: 5px 0;
    border-radius: 5px;
}

/* Estilos dos links do menu */
.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1em;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #cce5ff; /* Azul claro para destaque */
}

/* Estilos para dispositivos móveis */
@media (max-width: 768px) {
.nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #004d00; /* Verde mais escuro para o menu dropdown */
    position: absolute;
    top: 60px;
    left: 0;
    border-top: 1px solid #003300; /* Linha fina superior */
    }

.nav-links.active {
    display: flex;
    }

.menu-toggle {
    display: flex;
    }

.nav-links li {
    margin: 10px 0;
    text-align: center;
    }

.nav-links a {
    font-size: 1.2em;
    }
}

/* Estilos da seção principal */
section {
    border-radius: 8px;
    background: #bef0b7;  
}


.banner {
    width: 100%;
    height: auto; /* Ajusta a altura automaticamente de acordo com a imagem */
    text-align: center;
}

.banner img {
    width: 100%; /* Faz com que a imagem ocupe toda a largura do banner */
    height: auto; /* Mantém a proporção da imagem */
}

.banner h1 {
    color: #19490a;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4.5rem;
}

/* Estilos dos parágrafos */
section p {
    margin-bottom: 20px;
    display: flex;
    margin: 3vw;
}

/* Estilos das listas */
section ul {
    list-style-type: disc;
    margin-left: 20px;
    display: flex;
}

section li {
    margin-bottom: 15px; 
}

section strong {
    color: #004d00; /* Verde mais escuro para destacar */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
}

.beneficio {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin: 10px;
    cursor: pointer; /* interatividade */
    transition: background-color 0.3s;
}

.beneficio:hover {
    background-color: #e0f7e0; /* Cor quando o mouse */
}

.beneficio-texto {
    display: none; /* Esconde o texto dos benefícios */
}

.beneficio.active .beneficio-texto {
    display: block; /* Mostra o texto se a classe active estiver presente */
}

.beneficio-container {
    display: flex;
    flex-wrap: wrap; /* Permite que os itens se movam para a próxima linha */
    justify-content: center; /* Centraliza os itens horizontalmente */
    max-width: 1200px; /* Define uma largura máxima para evitar que os itens fiquem muito espalhados */
    margin: 0 auto; /* Centraliza o container em relação à página */
}

.fortalecimento {
    display: flex;
    justify-content: center; /* Centraliza os itens horizontalmente */
    flex-wrap: wrap; /* Permite que os itens se movam para a próxima linha */
    max-width: 1200px; /* Define uma largura máxima para evitar que os itens fiquem muito espalhados */
    margin: 0 auto; /* Centraliza o container em relação à página */
}
