html {
    font-size: calc(5px + 1vw);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #043102;
    background-color: #bef0b7;
 }
 
 body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
 }
 
 a {
    text-decoration: none;
    color: #000000;
 }
 
 a:hover {
    text-decoration: underline;
 }
 
 /*===============
 formatacao do topo
 =================*/
 
 header {
    padding: 0 20px;
    text-align: center;
    margin-bottom: 20px;
 }

 header {
    background-color: #3b773b; /* Verde escuro */
    color: white;
    padding: 10px 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    color: white;
    font-size: 1.5em;
    text-decoration: none;
}

.menu-toggle {
    display: none;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
}

.nav-links a:hover {
    background-color: #2a5d2a;
    border-radius: 5px;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 15px;
    text-align: center;
}

h1 {
    color: #004d00;
    margin-bottom: 20px;
}

 
 .menu {
    background-color: green;
    color: white;
    padding: 10px 0;
 }
 
 .menu nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
 
 }
 
 .menu nav ul li {
    margin: 0 15px;
 }
 
 .menu nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 600;
 }
 
 .menu nav ul li a:hover {
    text-decoration: underline;
 }
 
 header h1 {
    margin: 20px 0;
    font-size: 1.5em;
 }

 .form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
}

.button-group {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.button-group button {
    background-color: #4CAF50; /* Verde */
    color: white;
    border: none;
    padding: 15px 25px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-group button:hover {
    background-color: #45a049;
}

