/* Estilo do cabeçalho */
header {
    background-color: #3b773b; 
    color: white;
    padding: 10px 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Estilo do logotipo */
.logo a {
    color: white;
    font-size: 1.5em;
    text-decoration: none;
}

/* Menu toggle (para mobile) */
.menu-toggle {
    display: none;
    cursor: pointer;
}

.menu-toggle .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: white;
}

/* Links de navegação */
.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
}

.nav-links a:hover {
    background-color: #2a5d2a;
    border-radius: 5px;
}