/*===============
    css reset
=================*/


* {
   padding: 0;
   margin: 0;
   vertical-align: baseline;
   list-style: none;
   border: 0;
}


/*===============
formatação geral
=================*/


html {
   font-size: calc(5px + 1vw);
   color: #043102;
   background-color: #bef0b7;
}

body {
   font-family: "Fredoka", sans-serif;
   font-optical-sizing: auto;
   font-weight:normal;
   font-style: normal;
   font-variation-settings: "wdth"100;
   margin: 0;
   padding: 20px;
}

a {
   text-decoration: none;
   color: #000000;
}

a:hover {
   text-decoration: underline;
}


/*===============
ganhar peso 
=================*/


.gallery {
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
}

.dish {
   position: relative;
   margin: 15px;
}

.dish-img {
   width: 200px;
   height: auto;
   border-radius: 8px;
   transition: transform 0.2s;
}

.dish:hover .dish-img {
   transform: scale(1.05);
}

.info {
   display: none;
   position: absolute;
   background-color: rgba(34, 97, 19, 0.9);
   border: 1px solid #ccc;
   padding: 10px;
   border-radius: 8px;
   width: 250px;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   color: rgb(207, 245, 202);
}

.dish:hover .info {
   display: block;
}

footer {
   text-align: center;
   margin-top: 20px;
}


.dish-container {
   display: flex;
   justify-content: center;
   margin-bottom: 20px;
   margin-top: 10px;
}

.dish {
   margin: 10px;
   width: 200px;
   cursor: pointer;
}

h2 {
   margin-top: 40px;
   margin-bottom: 20px;
   text-align: center;
   font-size: 20px;
   color: #333;

}

section.gallery {

   display: block;
}

table {
   width: 100%;
   border-collapse: collapse;
   margin-top: 10px;
}

table,
th,
td {
   border: 1px solid #ccc;
   padding: 8px;
   text-align: left;
}

th {
   background-color: #f2f2f2;
}

/*perder peso*/

.wrap{
   display: flex;
   justify-content: space-evenly;
}

.titles{
   display: flex;
   justify-content: space-around;
}

.container-cafe-lanche{
   display: flex;
   justify-content: space-evenly;
}