
div.equipe {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0 2vw 0 4vw;
}
div.equipe img{
    width: 350px; 
    height: 350px;
}
h1 {
    text-align: center;
    color: rgb(44, 94, 37);
}
.nomes{
    display: flex;
    justify-content:space-evenly;
    padding: 2px 70px 2px 2px;
    text-align: center;
}
.nomes h3{
    display: flex;
    justify-content:space-evenly;
    margin: 0 0vw 0 4vw;
    text-align: center;
}
body {
    margin: 0;
    font-family:  "Raleway", sans-serif;
}

/* Estilos para a seção "Sobre Nós" */
.sobre {
    padding: 20px;
    background-color: #f9f9f9;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -7vw;
}
.sobre h1{
    text-align: center;
}

.sobre div{
align-items: center;
}

.sobre2 {
    align-items: center;
}

.missao, .historia {
    margin: 20px 0;
}

h1 {
    font-size: 2.5rem;
    color: #333;
}

p {
    font-size: 1.2rem;
    color: #555;
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.6;
}

.equipe {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
}

.equipe img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    transition: transform 0.3s;
    cursor: pointer;
}

.equipe img:hover {
    transform: scale(1.05); /* Aumenta a imagem quando passa o mouse */
}

.equipe img.clicked {
    transform: translateY(-10px); /* Levanta a imagem quando clicada */
}

.footer {
    padding: 40px 0;
    background-color: #3b773b;
    color: white;
}

.footer ul {
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
}

.footer li {
    display: inline-block; /* Change to inline-block for horizontal layout */
    padding: 0 10px;
}

.footer ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer ul a:hover {
    opacity: 1;
}

.footer .social {
    text-align: center;
    padding-bottom: 25px;
}

.footer .social > a {
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin: 0 8px;
    color: inherit;
    opacity: 0.75;
}

.footer .social > a:hover {
    opacity: 0.9;
}

.footer .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #aaa;
    margin-bottom: 0;
}
.footer .footer-break{
  height:2px;
  border-width:0;
  color:white;
  background-color:white
    }
