
/*===============
    css reset
=================*/

* {
   padding: 0;
   margin: 0;
   vertical-align: baseline;
   list-style: none;
   border: 0
}
/*===============
formatação geral
=================*/

html {
   font-size: calc(5px + 1vw);
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   color: #043102;
   background-color: #bef0b7;

}

html body a {
   text-decoration: none;
   color: #000000;

}

main {

   margin: 0 13vw 0 13vw;
}



/*===============
formatacao do topo
=================*/


header {
   padding: 0 20px;
  
 }


.menu {
   background-color: green; 
   color: white; 
   padding: 10px 0; 
 }
 

 .menu nav ul {
   list-style: none;
   padding: 0;
   margin: 0; 
   display: flex; 
   justify-content: center; 
 }
 
 .menu nav ul li {
   margin: 0 15px 0 20px;
 }
 
 .menu nav ul li a {
   color: rgb(255, 255, 255); 
   text-decoration: none; 
   font-weight: 600;
 }
 
 .menu nav ul li a:hover {
   text-decoration: underline; 
 }
 
 header h1 {
   margin: 20px 0;
   text-align: center;
   font-size: 1.5em; 
 }
 
 

/*===============
formatacao de ganhar peso
=================*/

img {
   width: 100px; 
   height: auto; 
        
}

body {
   font-family: Arial, sans-serif;
   
   margin: 0;
   padding: 20px;
}

header {
   text-align: center;
   margin-bottom: 20px;
}

#food-selection, #plate {
   display: inline-block;
   vertical-align: top;
   width: 45%;
   margin: 0 2.5%;
}

.food-category ul, #selected-foods {
   list-style-type: none;
   padding: 0;
}

.food-category li, #selected-foods li {
   background-color: #fff;
   margin: 5px 0;
   padding: 10px;
   cursor: pointer;
   border-radius: 5px;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#nutritionChart {
   width: 100%;
   height: 300px;
}


