/*===============
    css reset
=================*/

* {
   padding: 0;
   margin: 0;
   vertical-align: baseline;
   list-style: none;
   border: 0;
}

/*===============
formatação geral
=================*/

html {
   font-size: calc(5px + 1vw);
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   color: #043102;
   background-color: #bef0b7;
}

body {
   font-family: Arial, sans-serif;
   margin: 0;
   padding: 20px;
}

a {
   text-decoration: none;
   color: #000000;
}

a:hover {
   text-decoration: underline;
}

/*===============
formatacao do topo
=================*/

header {
   padding: 0 20px;
   text-align: center;
   margin-bottom: 20px;
}

.menu {
   background-color: green; 
   color: white; 
   padding: 10px 0; 
}

.menu nav ul {
   list-style: none;
   padding: 0;
   margin: 0; 
   display: flex; 
   justify-content: center; 
   
}

.menu nav ul li {
   margin: 0 15px;
}

.menu nav ul li a {
   color: rgb(255, 255, 255); 
   text-decoration: none; 
   font-weight: 600;
}

.menu nav ul li a:hover {
   text-decoration: underline; 
}

header h1 {
   margin: 20px 0;
   font-size: 1.5em; 
}

/*===============
ganhar peso 
=================*/



/*===============
formatação dos alimentos e prato
=================*/

#alimentos {
   display: flex;
   justify-content: center;
   align-items: flex-start;
   gap: 20px;
}

.ingredients img {
   width: 40px;
   height: auto;
   cursor: pointer;
}

.prato {
   position: relative;
   display: inline-block;
}

.plate-img {
   width: 60vw;
   height: auto;
}

#armazenar-alimentos {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   overflow: hidden;
}

.alimentos-no-prato {
   width: 40px;
   height: auto;
   position: absolute;
   transform: translate(-50%, -50%);
}


