 *{
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0
    }
    html {
        background-color: rgb(179, 158, 127);
      
    }
 html header {
    margin: 5vw 10vw 5vw 10vw;
 }
 html header ul li {
   background-color: rgb(80, 151, 47);
   
 }

